{% extends "layout.html" %}

{% block main %}

    <h2>Sheet</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Team</th>
                <th scope="col">Deadpool</th>
            </tr>
        </thead>
        <tboby>
            {% for row in survey %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
            {% endfor %}
        </tboby>
    </table>

{% endblock %}
